
/* 
**style font seulement ahmed et hamza peut le modifier

** si vous voulez le modifier, svp  demander
*/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --font-roboto: "Roboto Flex", sans-serif;
    --font-titre: "Rouge Script", cursive;
    --font-inria: "Inria Serif", serif;
}
header nav a{

    text-decoration: none;
    color: white;
    font-size:2rem ;
    font-family: var(--font-inria);

}
/* 10px = 1rem , 96px = 9.6rem */
.font-pagesTitle{
    color: white;
    font-size: 9.6rem; 
    font-weight: 100;
    font-family: var(--font-titre);
}

.simpleTextFont{
    color: rgba(255, 255, 255, 0.568);
    font-size: 1.6rem;    
    font-family: var(--font-roboto);

}

.whiteColor{
    color: white;
}


/* ****************************************************************** */
/* product details start  */
.detail h2{
    font-family: var(--font-titre);
    font-size: 6rem;
    font-weight: 200;


}
.detail .stock-status{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);

}
.detail .price{
    font-family: var(--font-roboto);
    font-size: 4.3rem;
    color: var(--fort-brown);

}
.detail .desc{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
font-weight: 300;
}


.detail .count-items .count-btn{
    text-align: center;
    align-content: center;
    font-family: var(--font-roboto);
    font-size: 3rem;
    /* font-weight: 900; */
    color: rgba(0, 0, 0, 0.52);
   
}

.detail .count-items .count-value{
    color: var(--white);
    font-size: 2.4rem;
   
    font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.add-to-cart{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
font-weight: 300;
}
/* product details end  */
/* ****************************************************************** */
