
/* 
**style font seulement ahmed et hamza peut le modifier

** si vous voulez le modifier, svp  demander
*/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Gabriela&family=Holtwood+One+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font-roboto: "Roboto Flex", sans-serif;
    --font-titre: "Rouge Script", cursive;
    --font-inria: "Inria Serif", serif;
    --font-playfair: "Playfair Display";
}
header nav a{

    text-decoration: none;
    color: white;
    font-size:2rem ;
    font-family: var(--font-inria);

}
/* 10px = 1rem , 96px = 9.6rem */
.font-pagesTitle{
    color: white;
    font-size: 9.6rem; 
    font-weight: 100;
    font-family: var(--font-titre);
}

.simpleTextFont{
    color: rgba(255, 255, 255, 0.568);
    font-size: 1.6rem;    
    font-family: var(--font-roboto);

}

.whiteColor{
    color: white;
}


main .productsDisplay .ProductCard .ProductCardContent button {
    font-family: var(--font-roboto);
    font-size: 1.7rem;
}

/* <<<<<<< HEAD */
/* ****************************************************************** */
/* product details start  */
.detail h2{
    font-family: var(--font-titre);
    font-size: 6rem;
    font-weight: 200;
}
/* ======= */
.productFont{
    color: black;
    font-family: "Roboto Flex", sans-serif;
    font-size: 21px;
    font-weight:400;
}
/* >>>>>>> productDisplay */



.detail .stock-status{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);

}
.detail .price{
    font-family: var(--font-roboto);
    font-size: 4.3rem;
    color: var(--fort-brown);

}
.detail .desc{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
font-weight: 300;
}


.detail .count-items .count-btn{
    text-align: center;
    align-content: center;
    font-family: var(--font-roboto);
    font-size: 3rem;
    /* font-weight: 900; */
    color: rgba(0, 0, 0, 0.52);
   
}

.detail .count-items .count-value{
    color: var(--white);
    font-size: 2.4rem;
   
    font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.add-to-cart{
    font-family: var(--font-roboto);
    font-size: 1.6rem;
font-weight: 300;
}
/* product details end  */
/* ****************************************************************** */
/* footer */
footer{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ____________________________ home page fonts __________________________ */
/* start */
.welcome-video h1 {
    color: azure;
    font-size: 7rem;
    font-weight:100;
    font-family: var(--font-titre);

}


.about-us-container h2 {
    font-size: 7rem;
    color: #795757;
    text-align: center;
   }


.content > p {
    font-size: 2.2rem;
    color: rgb(80, 25, 7);
    font-family: "Roboto Flex", sans-serif;
   }



.Addicoffee > p{
    font-size: 3rem;
    color: rgb(80, 25, 7);
    text-align: center;

   }

.second-part h2{
    font-size: 7rem;
    color: #795757;
    text-align: center;
}


.second-part h4{
 font-size: 3rem;
 text-align: center;
 color: #461010;
}

.item h5{
    font-size:2.3rem;
    color: #b64c05;
}

.item p{
    font-size: 1.5rem;
    color: #9b4003;
}


.product h2,h2{
    font-size: 7rem;
    color: #795757;
    text-align: center;
   }

.product-section i{
    font-size: 6rem;
    color: #522504;
}

.product-card h3 {
    font-size: 2.5rem;
    color: #603809;
    font-family: var(--font-playfair);
    font-weight: bold;
}

.product-card h4 {
    font-size: 1.25rem;
    color: #1e1e1e;
    font-family:var(--font-playfair);
}

.product-card p {
    font-size: 1.9rem;
    color: #603809;
    font-family:var(--font-playfair);
    
}

.btn-product {
    font-family:var(--font-playfair);
}




/* end */
/* ____________________________ home page fonts __________________________ */