/* html , body {
    margin: 0;
    padding: 0;
    width: 100%;
} */
/* header{
    width: 100%;
    height: 77px;
    background-color:rgb(43,43,43,0.69);
    display: flex;
    justify-content: space-between;
} */


/* header nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;



} */
/* header nav a{

    text-decoration: none;
    color: white;
    font-family: "Inria Serif", serif;
    font-size: 20px;

} */


/* .nav-icons div svg{
    height: 27px;
    fill: rgb(255, 255, 255);
} */



main{
    
    width: 100%;
    height: 2000px;
    background-color: #E3D8CC;
    margin-bottom: 300px;
}

/* main .pageTitle{
    height: 235px;
    width: 100%;
    background-color: #664343;
    align-content: center;

} */


/* main .pageTitle h1{
    margin: auto ;
    width: fit-content;
    height: fit-content;
} */
/* main .pageTitle p{
    width: 350px;
    height: 33px;
    margin: auto;
    text-align: center;

} */

main .Filter_searchBar{
    /* background-color: aliceblue; */
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Filter_searchBar .filter {
    /* background-color: #E3D8CC; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46%;
    height: 220px;
}
main .Filter_searchBar .filter > *{
    background-color: rgba(121, 87, 87, 0.37);
    border-radius: 21px;
    border: solid 2px #664343;
    padding: 10px 15px;
    outline: none;
    
}
main .Filter_searchBar .filter button{
    background-color: var(--brown);
    border: solid 1px #0a0a0a;
    
}
main .Filter_searchBar .filter :last-child{
   width: 90px;
   padding-left: 0;
   
}

main .Filter_searchBar .filter select .optionStyle{
    
            outline: none;
            background-color: #664343;
           
   
 }
 
 .inputContainer{
    width: fit-content;
    position: relative;
    /* border: solid 3px #664343; */
 }
 .inputContainer svg{
    height: 25px;
    position: absolute;
    fill: var(--dark);
    /* left: 328px; */
    right: 15px;
    /* margin: auto 0; */
    top: 7px;
    
 }

 #search_input{
    height: 35px;
    width: 360px;
    border-radius: 18.5px;
    outline: none;
    border: solid 1px #795757;
    padding-left: 20px;
    /* background-color: #E3D8CC; */

 }
 main .productsDisplay{
    /* background-color: #E3D8CC; */
    height: fit-content;
    width: 90%;
    margin: auto;
    display: flex;
  padding-bottom: 100px;
    flex-wrap: wrap;
    /* row-gap: 100px; */
    /* column-gap: 30px; */
    justify-content: space-around;

 }

 main .productsDisplay .ProductCard{
       
    height: 365px;
    width: 261px;
    position: relative;
    margin-bottom: 100px;
    /* background-color: #E3D8CC; */
       
 }
 
 main .productsDisplay .ProductCard .ProductCardContent{

    width:100% ;
    height: 100%;
    border-radius: 5px 5px 70px 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.139);
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
 }

 main .productsDisplay .ProductCard .ProductCardContent img{
    
    width: 237px;
    height: 223px;
    object-fit: cover;


    
    
   


 }
 main .productsDisplay .ProductCard .ProductCardContent .cardDescription {
    
    line-height: 20px; 
    text-align: center;
    
 }

 main .productsDisplay .ProductCard .ProductCardContent button {
    
    height: 42px;
    width: 133px;
    border: none;
    border-radius: 44px;
    background-color:var(--brown);
    position: absolute;
    bottom: -21px;
    
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px  rgba(0, 0, 0, 0.3);
    
 }
 
 



 /* burger-icon */
 @media  (max-width:600px){
    
    header{
        height: 51px; ;
    }
    /* #burgerIconId #svgdisplay{
        display: none;
    } */
    #navLinks{
        display: none;
    }
    
    
    .Filter_searchBar {
      width: 100%;
     display: block;
     flex-direction: column;
     padding-bottom: 30px;

    }
    main .Filter_searchBar .filter {
        width: 100%;
        gap: 2%;
        margin-left: -40px;
    }
    main .Filter_searchBar .filter >* {
        
        padding: 10px 5px;
        font-size: 12px;
    }
    main .Filter_searchBar .filter button{
        height: 30px;
        width: 100px;
    }

    main .pageTitle {
        height: 115px;
    }
    .font-pagesTitle{
        
        font-size: 5.6rem; 
        
    }
    main .productsDisplay{
       
        
        gap: 24px;
    }
    main .productsDisplay .ProductCard .ProductCardContent button {
        height: 24px;
        width: 72px;
        border: none;
        border-radius: 44px;
        position: absolute;
        margin-bottom: 8px;
        font-size: 9px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
    }
    main .productsDisplay .ProductCard {
        height: 210px;
         width: 145px;
        margin-bottom: 20px;
    }
    main .productsDisplay .ProductCard .ProductCardContent img {
         width: 131px; height: 128px; 
         object-fit: cover; 
        }

    .productFont { 
        font-size: 12px; 
     }

    
    button {
         height: 24PX; width: 73px;  
          bottom: -12px;
         }
    main .productsDisplay .ProductCard .ProductCardContent { 
        height: 100%; width: 100%;    
        border-radius: 5px 5px 50px 50px;
         padding: 10px; 
         display: flex; 
         flex-direction: column;
          align-items: center; 
        }
    
    main .productsDisplay .ProductCard .ProductCardContent .cardDescription { 
        line-height: 10px;
         text-align: center; 
        }
    
}

 @media  (max-width:400px){
    body{
        
    }
    
    
}








