/* 
**style generale seulement ahmed et hamza peut le modifier

** si vous voulez le modifier, svp  demander
*/

:root{
    --dark :rgba(59, 48, 48, 1);
    --white :rgba(250, 247, 240, 1) ;
    --soft-brown :rgba(255, 242, 216, 1) ;
    --bg-color :rgba(227, 216, 204, 1);
    --brown :rgba(121, 87, 87, 1);
    --fort-brown :  rgba(102, 67, 67, 1);
    
}
*{
    box-sizing: border-box;
    /* margin: 0; */

}
html{
    margin: 0;
    padding: 0;
    font-size:10px; /* pour rem*/
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

/*  */
header{
    width: 100%;
    height: 77px;
    background-color:rgb(43,43,43,0.69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

}


header nav {
    /* width: 50%; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* margin-right: 3%; */



}
header nav > a{

    text-decoration: none;
    color: white;
    font-family: "Inria Serif", serif;
    font-size: 20px;
    transition: all .2s;
}

header nav a:hover{
    /* transform: scale(1.2); */
    letter-spacing: 3px;
    color: rgb(248, 195, 115);
}
.logo img {
    padding: 5px;
    width: 80px;
    object-fit: cover;
    height: 80px;
}
.nav-icons div svg{
    height: 27px;
    fill: rgb(255, 255, 255);
}
/* burger menu start */

.burger-menu {
position: absolute;
z-index: 10;
right: 0;
min-width: 30%;
background-color: var(--brown);
top: 80px;
display: none;
flex-direction: column;
height: fit-content;

}

.burger-menu  a{
text-decoration: none;
color: #E3D8CC;
padding: 20px 30px;
font-family: "Inria Serif", serif;
font-size: 2rem;
 
}
.burger-menu a:hover{
    background-color: #6643437e;
    border: 1px solid var(--dark);
    /* transform: scale(1.02); */
}

.burger-icon{
    display: none;
    height: fit-content;
    width: fit-content;
}
.burger-icon:hover svg{
    transform: scale(1.2);
}
/* .rotate-90-burger{
    transform: rotate(90deg);
    transition: transform 1s;
} */
/* .rotate-0-burger{
    transform: rotate(0deg);
    transition: transform 1s;
} */
.burger-icon{
    transition: transform .3s;
}

.burger-icon svg {
    transition: transform .3s;
    
    width:27px ;
    height:27px;
    fill: #FFF;
  }
/* burger menu end */
/* footer start */
footer{
    padding: 50px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-top: 30px;
    background-color: var(--fort-brown);
    min-height: 200px;   
}
footer .ft-logo{
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
}
footer .footer_links {
    display :flex;
    justify-content: center;
    gap: 20px;

}
footer .footer_links a{
text-decoration: none;
color: var(--white);
border-bottom: transparent 1px solid;
}
footer .footer_links a:hover{
    transform: scale(1.2);
    color: var(--soft-brown);
/* border-bottom: #E3D8CC 1px solid; */

}
footer .footer-icons{
    display: flex;
    gap: 25px;

}
footer .footer-icons .ft-icon svg{
    height: 30px;
    fill: var(--white);
}
footer .footer-icons .ft-icon svg:hover{
    transform: scale(1.1);
    fill: var(--soft-brown);
}
/* footer search bar  */
.inputContainer{
    width: fit-content;
    position: relative;
    /* border: solid 3px #664343; */
 }
 footer .inputContainer svg{
    height: 25px;
    fill: var(--soft-brown);
    position: absolute;
    /* left: 328px; */
    right: 15px;
    /* margin: auto 0; */
    top: 7px;
    
 }

 #ft-search_input{
    height: 35px;
    width: 360px;
    color: #E3D8CC;
    border-radius: 18.5px;
    outline: none;
    border: solid 2px var(--soft-brown);
    padding-left: 20px;
    background-color: transparent;

 }
/* footer end */
/*  */
main{
    background-color: #E3D8CC;
    width: 100%;
    /* height: 2000px; */
}

main .pageTitle{
    height: 235px;
    width: 100%;
    background-color: #664343;
    align-content: center;

}


main .pageTitle h1{
    margin: auto ;
    width: fit-content;
    height: fit-content;
}
main .pageTitle p{
    width: 350px;
    height: 33px;
    margin: auto;
    text-align: center;

}
